.box{
 width: 200px;
 height: 100px;
 background-color: red;
 color: white;
 text-align: center;
 align-items: center;
 position:absolute;
 top: 50%;
 left: 50%;
 justify-content: center;
 transform: rotate(45deg);
}